// Variables
$card-width: 200px;
$card-gap: 48px;
$screen-widths:
  "488px" 2,
  "768px" 3,
  "1024px" 4;

// Cataolog styling
.catalog {
  display: grid;

  @each $screen-width, $card-count in $screen-widths {
    @media (min-width: $screen-width) {
      grid-template-columns: repeat($card-count, $card-width);
    }
  }
  justify-content: center;
  gap: $card-gap;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

    // Not sure if gap between cards is only for row or for both row and column

    // margin-bottom: $card-gap;
  }
}
